<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Welcome to the Buzzcard API landing page.</p>
    <div class="row">
        <div class="col-md-6">
            <p><a href="/Appmanager/apps" class="btn btn-primary btn-lg">App Manager</a>
        </div>
        <div class="col-md-6">
            <p><a href="/RoleManager/Rolemanager" class="btn btn-primary btn-lg">RoleManager</a>
        </div>
    </div>
</div>