<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Welcome to the role manager landing page.</p>
    <div class="row">
        <div class="col-md-4">
            <p><a href="/RoleManager/Users" class="btn btn-primary btn-lg">Users</a>
        </div>
        <div class="col-md-4">
            <p><a href="/RoleManager/Roles" class="btn btn-primary btn-lg">Roles</a>
        </div>
        <div class="col-md-4">
            <p><a href="/RoleManager/Permissions" class="btn btn-primary btn-lg">Permissions</a>
        </div>
    </div>
</div>