@using System.Web.Mvc.Html
@model API.Areas.RoleManager.Models.Permission

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Permission</h4>
        <hr />
        <dl class="dl-horizontal">
        </dl>
    </div>
<p>
    @Html.Label(Model.Name) <br/>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Name}) |
    @Html.ActionLink("Back to List", "Index")
</p>
</body>
</html>
