@using System.Web.Mvc.Html
@model API.Areas.RoleManager.Models.Role

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Role</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.LabelFor(model => model.Name)
            </dt>
            <dt>
                @Html.DisplayFor(model => model.Permissions, "PermissionList_Display")
            </dt>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Name }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
